@font-face{
    font-family: 'Arcade';
    src: url('../font/joystix monospace.ttf');
}

#pressStart, #loginTitle, #tablon, #inicio, #nombreUsuario, #medallasTitle, #registerTitle, #passRecoveryTitle{
    font-family: 'Arcade';
}

#pressStart{
    background-color: black;
}