@font-face{
    font-family: 'Arcade';
    src: url('../font/joystix monospace.ttf');
}

/*@media (min-width: 576px){
    div#newBody{
        height: 94vh;
    }
}
@media (min-height: 568px), (max-height: 854px) {
    div#newBody{
        height: 94vh;
    }
}
@media (min-height: 1024px), (max-height: 1366px) {
    div#newBody{
        height: 92vh;
    }
}*/

body{
    background-color: black;
}

img#background{
    position: fixed;
    display: block;
    margin: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
    pointer-events: none
}

div#newBody{
    background-color: #dfdfdf;
    display: block;
    margin: auto;
    overflow-y: auto;
    top: 0;
    height: 75vh;
    position: fixed;
    width: 68%;
    left: 16%;
}

div#medallas{
    margin-top: 5%;
}

#medallasTitle{
    text-align: center;
}

#news{
    padding: 1%;
}

a#cerrarSesion:link, a#compararPuntuacion:link, a#compararPuntuacion:visited, a#compararPuntuacion:hover, a#compararPuntuacion:active{
    text-decoration:none;
}
a#cerrarSesion:link, a#cerrarSesion:visited, a#compararPuntuacion:link, a#compararPuntuacion:visited{
    color: black;
}
a#cerrarSesion:hover, a#compararPuntuacion:hover{
    color: blue;
}
a#cerrarSesion:active, a#compararPuntuacion:active{
    color: blue;
}

footer{
    background-color: black;
    color: white;
    margin-top: 5%;
    max-width: 100%;
}