{% extends "layout/base.html.twig"%} 

{% block body %}

<form id="myform" method="post">
    <label>Addressee: </label>
    <input type="text" name="name" value="{{member.name}}"/><br>

    <label>Facturation Number: </label>
    <input type="text" name="surname" value="{{member.apellido}}"/><br>

    <label>Apellido2: </label>
    <input type="text" name="surname2" value="{{member.apellido2}}" /><br>

    <label>Fecha Nacimiento: </label>
    <input type="date" name="bday" value="{{member.fechaNacimiento | date("Y-m-d")}}"/><br>

    <label>Contraseña: </label>
    <input type="password" name="password" /><br>

    <label>Repetición contraseña: </label>
    <input type="password" name="password_rep" /><br>

    <label>Email: </label>
    <input type="mail" name="username" value="{{member.username}}"/><br>

    <label>Avatar: </label>
    <input type="file" name="upload" /><br>

    <label>Sexo: </label>
    <select name="gender">
        <option value="h" {% if memberMeta.gender == "h" %}selected{% endif %}>Hombre</option>
        <option value="m" {% if memberMeta.gender == "m" %}selected{% endif %}>Mujer</option>
        <option value="n" {% if memberMeta.gender == "n" %}selected{% endif %}>No especificar</option>
    <select><br>

    <input type="hidden" i="idMember" name="idMember" value="{{member.idMember}}"/><br/>
    <button type="button" onClick="save();">{{ 'GENERAL.save' | trans }}</button>
</form>
<br/><br/>
<button type="button" onClick="deleteUser();">{{ 'GENERAL.deleteUser' | trans }}</button>

{% endblock %} 

{% block javascripts %} 
    <script>
    function deleteUser(){
        if(confirm("seguro que quieres eliminar este usuario?")){
            $.ajax({
                url:"{{path('app_backend_member_apidelete')}}",
                data: new FormData($('#myform')[0]),// the formData function is available in almost all new browsers.
                type:"post",
                contentType:false,
                processData:false,
                cache:false,
                dataType:"json",
                error:function(err){
                    alert(err.responseJSON.msg);
                },
                success:function(data){
                    alert(data.msg);
                },
                complete:function(){
                    console.log("Request finished.");
                }
            });
        }
    }
    function save(){
        var contrasenya=$('input[name="password"]').val();
        var contrasenya_rep=$('input[name="password_rep"]').val();
        var mail=$('input[name="username"]').val();
        var mail_regexp = new RegExp(/\w+@\w+\.[a-z]{2,3}/);
        if(contrasenya!=contrasenya_rep){
            alert("contraseñas diferentes");
        }else if(!mail_regexp.test(mail)){
            alert("format de mail incorrecte");
        }else{
            $.ajax({
                url:"{{path('app_backend_member_apiedit')}}",
                data: new FormData($('#myform')[0]),// the formData function is available in almost all new browsers.
                type:"post",
                contentType:false,
                processData:false,
                cache:false,
                dataType:"json", // Change this according to your response from the server.
                error:function(err){
                    console.error(err);
                    alert(err.responseJSON.msg);
                },
                success:function(data){
                    //console.log(data); 
                    if(data.response == "error_username"){
                        alert(data.msg);
                    } else {
                        alert(data.msg);
                    }
                },
                complete:function(){
                    console.log("Request finished.");

                }
            });
        }
    }
    </script>
    
{% endblock %} 
 
{% block stylesheets %}
    
{% endblock %}