<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Retro Moodle{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{asset('assets/css/register.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('assets/css/login.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('assets/css/usuario.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('assets/css/font.css')}}">
        {% endblock %}
        <style>
            footer {
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: black;
                color: white;
                text-align: center;
            }
        </style>
    </head>
    <body>   
        <a href="{{path("app_backend_member_panel")}}">panel</a>
 
            {% set route = app.request.attributes.get('_route') %}
            {% set route_params = app.request.attributes.get('_route_params') %}
            {% set params = route_params|merge(app.request.query.all) %}
            {% for locale in locales if locale != app.request.locale %}
                <a href="{{ path(route, params|merge({ _locale: locale })) }}">{{locale}}</a>
            {% endfor %}
        <br/>
        <hr>
        {% block body %}{% endblock %}
        <!-- Footer -->
        <footer class="page-footer font-small blue">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2019 Alguien
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
        {% block javascripts %}
        <script src="{{asset('assets/javascript/index.js')}}"></script>
        {% endblock %}
    </body>
</html>
