{% extends "layout/base.html.twig"%}

{% block body %}

{# Parametros de Búsqueda #}
<h1>Parametros de Búsqueda</h1>
<form id="formActivity">
    <select name="filterActivityType[]" class="form-control select2-list" data-placeholder="Tipo Activity" multiple>
        {% for item in keyActivity %}
            <option value="{{item}}">{{ item }}</option>
        {% endfor %}
    </select>
    <select name="filterEmail[]" class="form-control select2-list" data-placeholder="Email" multiple>
        {% for item in memberAll %}
            <option value="{{item.id_Member}}">{{ item.username }}</option>
        {% endfor %}
    </select>
    <button type="button" onClick="buscar();">Buscar</button>
</form>
{# END Parametros de Búsqueda #}

<br>
<hr>

{# TABLA #}
<div id="contenidoTabla">
    <table class="table table-hover" id="ows-table-users">
        <thead>
            <tr>
                <th class="text-left">{% trans %}Name{% endtrans %}</th>
                <th class="text-left">{% trans %}Email{% endtrans %}</th>
                <th class="text-center">{% trans %}Activity{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in pagination %}
                <tr>
                    <td>{{ item.idMember.name }}</td>
                    <td>{{ item.idMember.username }}</td>
                    <td>{{ item.keyActivity }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{# END TABLA #}
{% endblock %}

{% block javascripts %}
<script>
    function buscar(){
        var formData = new FormData($('#formActivity')[0]);
        var str = '?';
        for(var pair of formData.entries()) {
            if(pair[1]){
                str += pair[0]+'='+pair[1]+'&';
            }
        }
        var temp = str.substr(0, str.length -1);    // matxaca darrer '&'
        var url = "{{path('app_backend_activity_gestion')}}" + temp;
        window.location.assign(url);
    }   
</script>
{% endblock %}