<h3>You did it! You changed your username!</h3>

Hi {{ member.name }} {{ member.apellido }} {{ member.apellido2 }}! You've successfully change your username.<br>
{#Your secret code is: {{ secretCode}}<br>#}
Now You must verificate that this new email is yours.<br>
{# example, assuming you have a route named "login" #}
Please, go to: <a href="{{ 'http://127.0.0.1:8000'~path('app_backend_member_verificaremail',{idMember: idMember , secretCode: 1234}) }}">Aneu per a verificar el nou username</a>.

Thanks!
