<body class="body" onload="background()">
    <div id="contenedor" class="container">
        <div class="d-flex justify-content-center h-100 fadeInDown">
            <div class="card">
                <div class="card-header bg-light">
                    <h3 id="loginTitle" class="fadeIn first">Iniciar sesión</h3>
                </div>
                <div class="card-body bg-light">
                    <form>
                        {# SOCIAL BUTTON #}
                        <div class="fadeIn first input-group form-group">
                            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with">
                            </fb:login-button>

                            <div class="g-signin2" data-onsuccess="onSignIn"></div>
                        </div>
                        {# END SOCIAL BUTTON #}
                        <div class="fadeIn second input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" id="loginUsername" name="_username" onkeypress="enterEvent(event, 'validarAcceso')" placeholder="Nombre de usuario">
                        </div>
                        <div class="fadeIn third input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" id="loginPassword" name="_password" onkeypress="enterEvent(event, 'validarAcceso')" placeholder="Contraseña">
                        </div>
                        <div class="fadeIn fourth row align-items-center remember">
                            <input type="checkbox">Recordar nombre
                        </div>
                        <div class="fadeIn fifth form-group">
                            <input id="pressStart" type="submit" onclick="validarAcceso()" value="Press Start" class="small float-right text-white">
                        </div>
                    </form>
                </div>
                <div class="card-footer bg-light">
                    <div class="fadeIn sixth d-flex justify-content-center">
                        <a href="{{path('app_frontend_member_recuperarcontraseña')}}">¿Has olvidado tu contraseña?</a>
                    </div><br>
                    <div class="fadeIn sixth d-flex justify-content-center links">
                        ¿No tienes cuenta?<a href="{{path('app_frontend_member_register')}}">Registrarse</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>

{#<h2>LOGIN</h2>
<form id="formAcceso">
    <input type="email" id="loginUsername" name="_username" class="form-control" onkeypress="enterEvent(event, 'validarAcceso')" placeholder="{% trans %}Email{% endtrans %}" style="margin-bottom: 20px;"/>
    <input type="password" id="loginPassword" name="_password" class="form-control" onkeypress="enterEvent(event, 'validarAcceso')" placeholder="{% trans %}Pass{% endtrans %}"/>
    <br>
    <button type="button" onclick="validarAcceso()" class="ows-button-one">ENTRAR</button>
</form>
<br><br>
{#<a href="{{path("app_frontend_member_activateresend")}}">Reenviar validación email</a>#}


<script type='text/javascript'>
    // Metodo para detectar la tecla "Enter"
    function enterEvent(e, acion) {
      if (e.keyCode == 13) {
         switch(acion) {
            case 'validarAcceso':
               validarAcceso();
            break;
            break;
            case 'validarRegistroUsuario':
               validarRegistro();
            break;
         }
      }
    }

   // ### LOGIN 
   // Método que conecta con el validador de login "ValidarAction"
   function validarAcceso(){
      var username = $('#loginUsername').val();
      var password = $('#loginPassword').val();
      var validar = 0;
      if(username != "" && password != "")
      {
         $.ajax({
            url: "{{ path('app_frontend_member_apilogin') }}",
            data: new FormData($('#formAcceso')[0]),
            type: "POST",
            contentType:false,
            processData:false,
            cache:false,
            dataType:"json",
            success: function(data){
                console.error(data.msg);
                $.ajax({
                url: "{{ path('app_frontend_member_apivalidar') }}",
                data: {username: username, password: password},
                type: "POST",
                error: function(err){
                    alert(err.responseJSON.msg);
                },
                success: function(data){
                        alert(data.msg);
                        setTimeout('location.reload()',1000);
                    }
                });
            },
            error: function(err){
                var formControlLogin = document.querySelector('#loginUsername');
                var formControlPassword = document.querySelector('#loginPassword');

                formControlLogin.style.borderBottom = '1px solid #ff0000';
                formControlPassword.style.borderBottom = '1px solid #ff0000';
                
                alert(err.responseJSON.msg);
            }
         });
      }else{
         alert('Debes introducir los datos del login', '');
      }
   }
    
 

    function validarRegistro() {
        var correcto=false;
        var username = $('#usuarioUsername').val();
        var password = $('#password').val();
        if(username && password){
            correcto=true;
            $.ajax({
                url: "{{ path('app_frontend_member_apiregistrar') }}",
                data: new FormData($('#formRegistroUsuario')[0]),
                type: "POST",
                contentType:false,
                processData:false,
                cache:false,
                dataType:"json",
                success: function(data){
                    alert(data.msg);
                    setTimeout('location.reload()',1000);
                },
                error: function(err){
                    alert(err.responseJSON.msg);
                }
            });
        }

        if(!correcto){
            alert("Debes introducir todos los datos del registro");
        }
    }

    
</script>

{{ include('frontend/member/login_social_script.html.twig') }}
