{% extends "layout/base.html.twig"%}
{% block body %}
    {% if validado == 1 %}
    <form id="formRecuperar">
        {% trans %}GENERAL.Password{% endtrans %}&nbsp;<input type="password" id="new-password" name="new-password" />
        <br>{% trans %}GENERAL.RepetirPassword{% endtrans %}&nbsp;<input type="password" id="passwordRepeat" name="passwordRepeat" />
        <input type="hidden" name="username" value="{{user}}">
        <br><button type="submit">Enviar</button>
    </form>
    {% elseif  expired == 1 %}
        <h1>Lo sentimos, este link ha expirado. Envia de nuevo la peticiónpara recuperar contraseña y recibirás un nuevo e-mail.</h1>
    {% elseif  expired == 0 and validado == 0  %}
        <h1>Lo sentimos, hubo un error a la hora de recuperar el password. Intenta enviar de nuevo la petición.</h1>
    {% endif %}


{% endblock %}
{% block javascripts %}
<script>

    $("#formRecuperar").on('submit', passwordSet);

    function passwordSet() {

        var formControlLogin = document.querySelector('#new-password');
        var formControlPassword = document.querySelector('#passwordRepeat');
        formControlLogin.style.borderBottom = 'none';
        formControlPassword.style.borderBottom = 'none';
        var password = $('#new-password').val();
        var passwordRepeat = $('#passwordRepeat').val();
        console.error(password);
        console.error(passwordRepeat);
        if ( password != "" && passwordRepeat !="" && password===passwordRepeat ) {
            $.ajax({
                url: "{{ path('app_frontend_member_apipasswordrecovery') }}",
                data: new FormData($('#formRecuperar')[0]),
                type: "POST",
                contentType:false,
                processData:false,
                cache:false,
                dataType:"json",
                success: function(data){
                    alert(data.msg);
                    setTimeout('location.href({{ path("app_frontend_member_index") }})',1000);
                },
                error: function(err){
                    console.error(err);
                    formControlLogin.style.borderBottom = '1px solid #ff0000';
                    formControlPassword.style.borderBottom = '1px solid #ff0000';
                    
                    alert(err.responseJSON.msg);
                }
            });
        } else {
            alert("Comprueba los campos introducidos");
            formControlLogin.style.borderBottom = '1px solid #ff0000';
            formControlPassword.style.borderBottom = '1px solid #ff0000';
            return false;
        }
        return false;
    }

</script>

{% endblock %}
