{% extends "layout/base.html.twig"%}
{% block body %}
<img align=center id="background" src="{{asset('img/Arcade_Screen.png')}}" alt="" title="" />
<div id="newBody">
    <a id="cerrarSesion" class="float-right" href="{{path('app_frontend_member_logout')}}">Cerrar sesión</a>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light">
        <a id="inicio" class="navbar-brand" href="#">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mis módulos</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item btn-light" href="#">M03</a>
                        <a class="dropdown-item btn-light" href="#">M06</a>
                        <a class="dropdown-item btn-light" href="#">M07</a>
                        <a class="dropdown-item btn-light" href="#">M08</a>
                        <a class="dropdown-item btn-light" href="#">M09</a>
                    </div>
                </li> 
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4">
                <div class="row">
                    <div id="perfil" class="col-md-10">
                        <div class="well well-sm">
                            <div class="media">
                                <div class="media-body">
                                    <img class="media-object float-left" src="{{asset('img/avatar.png')}}">
                                    <br><br>
                                    <h6 id="nombreUsuario" class="media-heading float-left"><small>Alguien</small></h6>
                                    <br><br>
                                    <div class="media-object">
                                        <h6 id="puntuación">Puntuación</h6>
                                        <div id="puntuación" class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25</div>
                                        </div>
                                        <a id="compararPuntuacion" class="btn-default btn-link" href="#">Comparar puntuación</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="medallas" class="col-md-10">
                        <ul class="list-group">
                            <li id="medallasTitle" class="list-group-item bg-dark text-white">Medallas</li>
                            <li class="list-group-item"></li>
                            <li class="list-group-item"></li>
                            <li class="list-group-item"></li>
                            <li class="list-group-item"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <h4 id="tablon" class="pb-3 mb-4 border-bottom border-secondary text-center">Tablón de anuncios</h4>
                <div class="row">
                    <div class="col-12 col-md-8 border-bottom border-secondary news">M06 <a href="#">Entrega Pr4 venç</a></div><div id="news" class="col-6 col-md-4 border-bottom border-secondary small">26 Mar, 19:20</div>
                </div>
            </div>
        </div>
     </div>
{% endblock %}