{% extends "layout/base.html.twig"%}
{% block body %}
<img align=center id="background" src="{{asset('img/Arcade_Screen.png')}}" alt="" title="" />
<!-- New Body -->
<div id="newBody">
    <a id="cerrarSesion" class="float-right" href="{{path('app_frontend_member_logout')}}">Cerrar sesión</a>
    <!-- Navbar -->
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light">
        <a id="inicio" class="navbar-brand" href="#">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mis módulos</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item btn-light" href="#">M03</a>
                        <a class="dropdown-item btn-light" href="#">M06</a>
                        <a class="dropdown-item btn-light" href="#">M07</a>
                        <a class="dropdown-item btn-light" href="#">M08</a>
                        <a class="dropdown-item btn-light" href="#">M09</a>
                    </div>
                </li> 
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tareas</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item btn-light" href="#">Añadir módulo</a>
                        <a class="dropdown-item btn-light" href="#">Añadir UF</a>
                        <a class="dropdown-item btn-light" href="#">Añadir práctica</a>
                        <a class="dropdown-item btn-light" href="#">Asignar notas</a>
                    </div>
                </li> 
            </ul>
        </div>
    </nav>
    <!-- Fin Navbar -->

    <div class="container">
        <!-- Row -->
        <div class="row">
            <div class="col-6 col-md-4">
                <!-- 2º Row -->
                <div class="row">
                    <!-- Perfil -->
                    <div id="perfil" class="col-md-10">
                        <div class="well well-sm">
                            <div class="media">
                                <div class="media-body">
                                    <img class="media-object float-left" src="{{asset('img/avatar2.png')}}">
                                    <br><br>
                                    <h6 id="nombreUsuario" class="media-heading float-left"><small>Boss</small></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Perfil -->
                </div>
                <!-- Fin 2º Row -->
            </div>
            <!-- Tablón de anuncios -->
            <div class="col-12 col-md-8">
                <h4 id="tablon" class="pb-3 mb-4 border-bottom border-secondary text-center">Tablón de anuncios</h4>
                <div class="row">
                    <div id="news" class="col-12 col-md-8 border-bottom border-secondary">M06 <a href="#">Entrega Pr4 venç</a></div><div id="news" class="col-6 col-md-4 border-bottom border-secondary small">26 Mar, 19:20</div>
                    <div id="news" class="col-12 col-md-8 border-bottom border-secondary">M03 <a href="#">Entrega Diagrama de classes venç</a></div><div id="news" class="col-6 col-md-4 border-bottom border-secondary small">27 Mar, 23:59</div>
                    <div id="news" class="col-12 col-md-8 border-bottom border-secondary">M07 <a href="#">UF4-A1: API REST venç</a></div><div id="news" class="col-6 col-md-4 border-bottom border-secondary small">1 Apr, 01:00</div>
                    <div id="news" class="col-12 col-md-8 border-bottom border-secondary">M09 <a href="#">TEORIA: ACCESSIBILITAT venç</a></div><div id="news" class="col-6 col-md-4 border-bottom border-secondary small">9 Apr, 00:00</div>
                    <div id="news" class="col-12 col-md-8 border-bottom border-secondary">M06 <a href="#">Entrega Pr4 venç</a></div><div id="news" class="col-6 col-md-4 border-bottom border-secondary small">26 Mar, 19:20</div>
                    <div id="news" class="col-12 col-md-8 border-bottom border-secondary">M03 <a href="#">Entrega Diagrama de classes venç</a></div><div id="news" class="col-6 col-md-4 border-bottom border-secondary small">27 Mar, 23:59</div>
                    <div id="news" class="col-12 col-md-8 border-bottom border-secondary">M07 <a href="#">UF4-A1: API REST venç</a></div><div id="news" class="col-6 col-md-4 border-bottom border-secondary small">1 Apr, 01:00</div>
                    <div id="news" class="col-12 col-md-8 border-bottom border-secondary">M09 <a href="#">TEORIA: ACCESSIBILITAT venç</a></div><div id="news" class="col-6 col-md-4 border-bottom border-secondary small">9 Apr, 00:00</div>
                    <div id="news" class="col-12 col-md-8 border-bottom border-secondary">M06 <a href="#">Entrega Pr4 venç</a></div><div id="news" class="col-6 col-md-4 border-bottom border-secondary small">26 Mar, 19:20</div>
                    <div id="news" class="col-12 col-md-8 border-bottom border-secondary">M03 <a href="#">Entrega Diagrama de classes venç</a></div><div id="news" class="col-6 col-md-4 border-bottom border-secondary small">27 Mar, 23:59</div>
                    <div id="news" class="col-12 col-md-8 border-bottom border-secondary">M07 <a href="#">UF4-A1: API REST venç</a></div><div id="news" class="col-6 col-md-4 border-bottom border-secondary small">1 Apr, 01:00</div>
                    <div id="news" class="col-12 col-md-8 border-bottom border-secondary">M09 <a href="#">TEORIA: ACCESSIBILITAT venç</a></div><div id="news" class="col-6 col-md-4 border-bottom border-secondary small">9 Apr, 00:00</div>
                    <div id="news" class="col-12 col-md-8 border-bottom border-secondary">M06 <a href="#">Entrega Pr4 venç</a></div><div id="news" class="col-6 col-md-4 border-bottom border-secondary small">26 Mar, 19:20</div>
                    <div id="news" class="col-12 col-md-8 border-bottom border-secondary">M03 <a href="#">Entrega Diagrama de classes venç</a></div><div id="news" class="col-6 col-md-4 border-bottom border-secondary small">27 Mar, 23:59</div>
                    <div id="news" class="col-12 col-md-8 border-bottom border-secondary">M07 <a href="#">UF4-A1: API REST venç</a></div><div id="news" class="col-6 col-md-4 border-bottom border-secondary small">1 Apr, 01:00</div>
                    <div id="news" class="col-12 col-md-8 border-bottom border-secondary">M09 <a href="#">TEORIA: ACCESSIBILITAT venç</a></div><div id="news" class="col-6 col-md-4 border-bottom border-secondary small">9 Apr, 00:00</div>
                    <div id="news" class="col-12 col-md-8 border-bottom border-secondary">M06 <a href="#">Entrega Pr4 venç</a></div><div id="news" class="col-6 col-md-4 border-bottom border-secondary small">26 Mar, 19:20</div>
                    <div id="news" class="col-12 col-md-8 border-bottom border-secondary">M03 <a href="#">Entrega Diagrama de classes venç</a></div><div id="news" class="col-6 col-md-4 border-bottom border-secondary small">27 Mar, 23:59</div>
                    <div id="news" class="col-12 col-md-8 border-bottom border-secondary">M07 <a href="#">UF4-A1: API REST venç</a></div><div id="news" class="col-6 col-md-4 border-bottom border-secondary small">1 Apr, 01:00</div>
                    <div id="news" class="col-12 col-md-8 border-bottom border-secondary">M09 <a href="#">TEORIA: ACCESSIBILITAT venç</a></div><div id="news" class="col-6 col-md-4 border-bottom border-secondary small">9 Apr, 00:00</div>
                </div>
            </div>
            <!-- Tablón de anuncios -->
        </div>
        <!-- Fin Row -->
</div>
{% endblock %}