{% extends "layout/base.html.twig"%}
{% block body %}
<body onload="background()">
    <div id="contenedor" class="container">
        <div class="d-flex justify-content-center h-100 fadeInDown">
            <div class="card">
                <div class="card-header bg-light">
                    <h5 id="passRecoveryTitle">Recuperar contraseña</h5>
                </div>
                <div class="card-body bg-light">
                    <form id="formRecuperar">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-at"></i></span>
                            </div>
                            <input type="email" id="recuperarEmail" name="recuperarEmail" class="form-control" placeholder="{% trans %}GENERAL.Email{% endtrans %}">
                        </div>
                        <div class="form-group">
                            <input id="pressStart" type="submit" onclick="funcRecuperarEmail()" value="Press Start" class="text-white float-right small">
                        </div>
                    </form>
                </div>
                    
            </div>
        </div>
    </div>
</body>
{#</body><h2>RECUPERAR CONTRASEÑA</h2>
<form id="formRecuperar">
<input type="email" id="recuperarEmail" name="recuperarEmail" class="form-control" placeholder="{% trans %}GENERAL.Email{% endtrans %}" style="margin-bottom: 20px;"/>
<button type="button" onclick="funcRecuperarEmail()" class="ows-button-one" style="float: left;">Enviar</button>
</form>
<hr>#}

<script>
function funcRecuperarEmail(){
        var username = $('#recuperarEmail').val();
        if (username != '') {
        $.ajax({
            url: "{{ path('app_frontend_member_apirecuperarpassword') }}",
            data: new FormData($('#formRecuperar')[0]),
            type: "POST",
            contentType:false,
            processData:false,
            cache:false,
            dataType:"json",
            success: function(data){
                alert(data.msg);
            },
            error: function(err){
                alert(err.responseJSON.msg);
            }
        });

        } else {
        alert('Introduce tu email para recuperar la contraseña', '');
        }

    }
</script>
{% endblock %}