{% extends "layout/base.html.twig"%}
{% block body %}
<body class="body" onload="background()">
    <div id="contenedor" class="container">
        <div class="d-flex justify-content-center h-100 fadeInDown">
            <div class="card">
                <div class="card-header bg-light">
                    <h3 id="registerTitle">{% trans %}GENERAL.register{% endtrans %}</h3>
                </div>
                <div class="card-body bg-light">
                    <form method="post" action="{{ path("app_frontend_member_apiregistrar") }}" id="formRegistroUsuario">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Nombre de usuario">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" name="password" id="password" onkeypress="enterEvent(event, 'validarRegistroUsuario')" placeholder="Contraseña">
                        </div>
                        {#<div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Confirmar contraseña">
                        </div>#}
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-at"></i></span>
                            </div>
                            <input type="email" class="form-control" type="text" name="username" id="usuarioUsername" onkeypress="enterEvent(event, 'validarRegistroUsuario')" placeholder="Correo electrónico">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="name" id="name" class="form-control" placeholder="Nombre">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Apellidos">
                        </div>
                        <div class="form-group">
                            <input id="pressStart" type="submit" onclick="validarRegistro()" value="Press Start" class="text-white small float-right">
                        </div>
                    </form>
                </div>
                    
            </div>
        </div>
    </div>
</body>

{#<h2 style="color: gray;">REGISTRO - USUARIO</h2>
<form method="post" action="{{ path("app_frontend_member_apiregistrar") }}" id="formRegistroUsuario" class="form-inquilino">
    <input type="text" class="form-control" name="username" id="usuarioUsername" onkeypress="enterEvent(event, 'validarRegistroUsuario')" placeholder="Email">
    <input type="password" class="form-control" name="password" id="password" onkeypress="enterEvent(event, 'validarRegistroUsuario')" placeholder="password">
    <br>
    <button type="button" onclick="validarRegistro()" class="ows-button-one">{% trans %}GENERAL.accept{% endtrans %}</button>
</form>#}
{% endblock %}