{% extends "layout/base.html.twig"%}
{% block body %}
    <form id="formResend">
    Email: <input type="text" id="emailUser" name="emailUser" />
    <button type="submit">Enviar</button>
    </form>

{% endblock %}
{% block javascripts %}
<script>

    $("#formResend").on('submit', passwordResenf);

    function passwordResenf() {

        var formControlLogin = document.querySelector('#emailUser');
        formControlLogin.style.borderBottom = 'none';


        var username = $('#emailUser').val();
        var validar = 0;

        if (username != "") {
            $.ajax({
                url: "{{ path('app_frontend_member_apiresend') }}",
                data: new FormData($('#formResend')[0]),
                type: "POST",
                contentType:false,
                processData:false,
                cache:false,
                dataType:"json",
                success: function(data){
                    alert(data.msg);
                },
                error: function(err){
                    formControlLogin.style.borderBottom = '1px solid #ff0000';
                    
                    alert(err.responseJSON.msg);
                }
            });
        } else {

            formControlLogin.style.borderBottom = '1px solid #ff0000';
            return false;
        }
        return false;
    }

</script>

{% endblock %}
