{% block body %}

    {% if expired == 1  %}
    Tu email expiró<br>
    <a href="{{path("app_frontend_member_activateresend")}}">Volver a enviar correo</a>
    {% else %}
    ¡Algo fue mal!
    {% endif %}


{% endblock %}