 {% set numRow = 1 %}
<table class="table table-hover" id="ows-table-users">
   <thead>
         <tr>
            <th id="colRol" class="text-center" onclick="orderCol('colRol')" {% if colOrder == 'colRol' or colOrder == '' %}style="font-weight: 600;"{% endif %}>Role</th>
            <th id="colName" class="text-left" onclick="orderCol('colName')" {% if colOrder == 'colName' %}style="font-weight: 600;"{% endif %} >{% trans %}Name{% endtrans %}</th>
            <th id="colEmail" class="text-left" onclick="orderCol('colEmail')" {% if colOrder == 'colEmail' %}style="font-weight: 600;"{% endif %}>{% trans %}Email{% endtrans %}</th>
            <th id="colValidated" class="text-center" onclick="orderCol('colValidated')" {% if colOrder == 'colValidated' %}style="font-weight: 600;"{% endif %}>{% trans %}Validated{% endtrans %}</th>
            <th class="text-center">{% trans %}Actions{% endtrans %}</th>
         </tr>
   </thead>
   <tbody>
      
      {% for item in member %}

          {% if numRow <= maxRow %}
            <tr id="row-{{item.idMember}}">
               <td class="text-center">
                  {% if item.idMemberRole.idMemberRole == '1' %}
                     <div class="ows-color-admin">{% trans %}ADMINISTRATOR{% endtrans %}</div>
                  {% endif %}
                  {% if item.idMemberRole.idMemberRole == '2' %}
                     <div class="ows-color-asociado">{% trans %}PROFESIONAL{% endtrans %}</div>
                  {% endif %}
                  {% if item.idMemberRole.idMemberRole == '3' %}
                     <div class="ows-color-comercial">{% trans %}USUARIO{% endtrans %}</div>
                  {% endif %}                               
               </td>
               <td class="text-left">{{ item.name }}</td>
               <td class="text-left">{{ item.username }}</td>
               <td class="text-center" style="width: 70px">                
                  <select onChange="selectValidado(this.value, '{{item.idMember}}', '{{item.name}}')" class="form-control" style="border-bottom: 0px; padding-right: -20px;">
                     <option value="1"{% if item.validated == 1 %}selected{% endif %}>SÍ</option>                  
                     <option value="0"{% if item.validated == 0 %}selected{% endif %}>No</option>                  
                  </select>
               </td>
               <td class="text-center">
                  <a href="{{ path('app_backend_member_edit', {'idMember': item.idMember}) }}" target="_blank" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Edit row">Editar</a>
                  {% if item.idMemberRole.idMemberRole == '1' %}
                     {# Si es administrador no se puede eliminar #}
                     <button class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete row" disabled>Eliminar</button>
                  {% else %}
                     <button type="button" id="okBtn" class="btn btn-flat btn-warning toastr-action" onclick="userDelete('{{item.idMember}}')">Eliminar</button>
                  {% endif %}
               </td>
            </tr>
         {% endif %}
         {% set numRow = numRow + 1 %}
      {% endfor %}

   </tbody>
</table>

<input id="numRowTotal" type="hidden" value="{{numRow}}" disabled>
