{% extends "layout/base.html.twig"%}

{% block body %}
{# PARAMETROS DE BUSQUEDA #}
<h1>Parametros de Búsqueda</h1>
<form id="formMember">
    <label>
        Role:<br>
        <input type="text" name="filterRole" placeholder="Role" value="{{filterRole}}">
    </label>
    <br/>
     <label>
        Name:<br>
        <input type="text" name="filterName" placeholder="Name" value="{{filterName}}">
    </label>
    <br/>
    <label>
        Email:<br>
        <select name="filterUsername[]" class="form-control select2-list" data-placeholder="Email" multiple>
            {% for item in memberAll %}
                <option value='{{item.username}}'>{{item.username}}</option>
            {% endfor %}
        </select>
    </label>

    <br/>
    <br/>

    <button type="button" onClick="buscar();">Buscar</button>
</form>
{# END PARAMETROS DE BUSQUEDA #}

<br><br>
<hr>


{# TABLA DE USUARIOS PROVISIONAL ANTES DE IR A BUSCAR LA FINAL #}
<h1>TABLA DE USUARIOS</h1>
<div id="contenidoTabla">
    <table class="table table-hover" id="ows-table-users">
        <thead>
                <tr>
                    <th class="text-center">ACT</th>
                    <th class="text-center">Role</th>
                    <th class="text-left">{% trans %}Name{% endtrans %}</th>
                    <th class="text-left">{% trans %}Email{% endtrans %}</th>
                </tr>
        </thead>
        <tbody>
            {% for item in pagination %}
                <tr>
                    <td><a href="{{path('app_backend_member_edit', {idMember: item.idMember})}}">EDIT</a></td>
                    <td>{{ item.idMemberRole.name }}</td> {# role #}
                    <td>{{ item.name }}</td> {# name #}
                    <td id="email">{{ item.username }}</td> {# email #}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{# END TABLA DE USUARIOS PROVISIONAL ANTES DE IR A BUSCAR LA FINAL #}

{% endblock %}

{% block javascripts %}
<script>
    function buscar(){
        var formData = new FormData($('#formMember')[0]);
        var str = '?';
        for(var pair of formData.entries()) {
            if(pair[1]){
                str += pair[0]+'='+pair[1]+'&';
            }
        }
        var temp = str.substr(0, str.length -1);    // matxaca darrer '&'
        var url = "{{path('app_backend_member_gestion')}}" + temp;
        window.location.assign(url);
    }   
</script>
{% endblock %}