{% extends "layout/base.html.twig"%}

{% block body %}
<h1>Panel</h1>
<ul>
    <li><a href="{{path("app_backend_member_gestion")}}">app_backend_member_gestion</a></li>
    <li><a href="{{path("app_backend_activity_gestion")}}">app_backend_activity_gestion</a></li>
    {#app.user agafa info del token#}
    <li><a href="{{path("app_backend_member_edit", {'idMember': app.user.idMember})}}">app_backend_member_edit</a></li>
    <li><a href="{{path("app_backend_product_gestion")}}">app_backend_product_gestion</a></li>
    <li><a href="{{path("app_frontend_member_logout")}}">logout</a></li>
</ul>

{% endblock %}