{% extends "layout/base.html.twig"%}

{% block body %}

<!-- formulario -->
<form id="formProduct">

    <label class="a">
        <!-- Price: --><br><span>*</span>
        Price:<br>
        <input type="number" name="price" placeholder="Price" value="{{product[0].price}}" class="campo-form" min="1"
            step="any" required>
    </label>

    <label class="a">
        <!-- stock: --><br><span>*</span>
        Stock:<br>
        <input type="number" name="stock" placeholder="Available stock" value="{{product[0].stock}}" class="campo-form">
    </label><br />

    <br />

    <label class="a">
        <!-- name: --><br><span>*</span>
        Name:<br>
        <input type="text" name="name" placeholder="Name" value="{{product[0].name}}" class="campo-form" required>
    </label>

    <label class="a">
        <!-- url: --><br><span>*</span>
        Url:<br>
        <input type="text" name="url" placeholder="URL" class="campo-form" value="{{product[0].url}}" required>
    </label>

    <label class="a">
        <!-- category: --><br><span>*</span>
        Category:<br>
        <select name="category[]" class="campo-form" multiple>
            {% for item in category %}
            {% set selected = 0 %}
            {% if product[0].category %}
            {% for product_category in product[0].category %}
            {% if product_category.idCategory == item.idCategory %}
            {% set selected = 1 %}
            {% endif %}
            {% endfor %}
            {% endif %}
            <option value="{{item.idCategory}}" {% if selected==1 %}selected{% endif %}>{{item.name}}</option>
            {% endfor %}
        </select>
    </label>
    <label class="a">
        <!-- category: --><br><span>*</span></label>
    Photos:<br>
    <div id="preLoadPhoto" style=";display:flex;width:95%;flex-wrap: wrap;flex-direction: row;">
        {% if product[0].photos %}
            {% set position = 0 %}
            {% for item in product[0].photos%}
                <input type="hidden" id="photo-name-{{position}}" value="{{item.name}}">
                {% set idProduct = product[0].idProduct %}
                <div style="width:270px;height:200px;" id="photo-box-{{position}}">
                    <img id="img-{{position}}" style="width:200px;height:100px;" src="{{ asset('product/') }}{{ idProduct }}{{('/photos/')}}{{item.name}}" class="img-product"></img>
                    <br />
                    <button type="button" onClick="imgDelete('{{position}}')">Delete</button>
                    <button type="button" onclick="selectImg(document.getElementById('img-{{position}}').src, '{{position}}')">Edit</button>
                    {% if categoryPhotos %}
                        <select id="{{item.name}}" name="photo-select-{{position}}">
                        {% for category in categoryPhotos %}
                            {% set trobat = '' %}
                            {% if category.visible == 0 %}
                                {% for keyPhoto, valuePhoto in item %}
                                    {% if keyPhoto == category.name %} {% set trobat = 1%}{% endif %}
                                {% endfor %}
                                {% if not trobat %}
                                    <option value="{{category.name}}">{{category.name}}</option>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="button" onClick="newSelect('{{position}}');" value="+">
                    {% endif %}
                    <br />
                    <br />
                    {% for category in categoryPhotos %}
                        {% set trobat = '' %}
                        {% set key = '' %}
                        {% set value = '' %}
                        {% if category.visible == 1 %}
                            {% for keyPhoto, valuePhoto in item %}
                                {% if keyPhoto == category.name %}
                                    {% set key = keyPhoto %}
                                    {% set value = valuePhoto %}
                                    {% set trobat = 1 %}
                                {% endif %}
                            {% endfor %}
                            {% if not trobat %}
                                {% set key = category.name %}
                                {% set value = "" %}
                                {% set trobat = 1 %}
                            {% endif %}
                        {% else %}
                            {% for keyPhoto, valuePhoto in item %}
                                {% if keyPhoto == category.name %}
                                    {% set key = keyPhoto %}
                                    {% set value = valuePhoto %}
                                    {% set trobat = 1 %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if trobat == 1 %}
                            <div id='photo-item-{{position}}-{{key}}'>
                                <label>{{key}}:</label>
                                <input type='text' id='photo-select-{{position}}-{{key}}' placeholder='{{key}}' name='{{key}}' value='{{value}}'
                                    onblur="photoUpdateArray('{{position}}','{{key}}',this.value)">
                                <button type="button" onClick="deleteSelect({{position}},'{{key}}')">-</button>
                                <br />
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% set position = position + 1 %}
            {% endfor %}
        {% endif %}
    </div>
    <br />

    <input id="images" type="file" name="photo[]" onChange="readSrc(event)" multiple />

    <label class="a">
        <br>
        <input type="hidden" name="idProduct" placeholder="idProduct" value="{{product[0].idProduct}}" class="campo-form">
        <input type="hidden" name="localeProduct" placeholder="idProduct" value="{{ localeProduct }}" class="campo-form">
    </label>
    <div class="row">
        <div class="col-md-6 text-center">
            <div id="editar-imagen" style="width:350px"></div>
        </div>
        <div class="col-md-6" style="padding-top:30px;">
            <input type="button" id="rleft" onClick="eventoRotateLeft()" value="Flip Left">
            <input type="button" id="rright" onClick="eventoRotateRight()" value="Flip Right">
            <br />
            <button id="reset" type="button" class="btn btn-success" onclick="eventoResult()">Crop Image</button>
        </div>
    </div>

    <button type="button" onClick="save()">{% if product[0].idProduct %} {{'Update' | trans }} {% else %} {{'Save' | trans }} {% endif %}</button>

    <select style="display:none;" id="photoToDelete" name="photoToDelete[]" multiple>
    </select>
</form>

<!-- formulario -->
{% endblock %}

{% block javascripts %}
<script>
    var posicion;
    var arrayPhoto = [];
    var objectPhoto = {};
    var totalPhotos = '{{totalPhotos}}';
    var photos = {};
    var categoryPhotos = {};

    window.addEventListener("load", function (event) {
        generarArrayPhotos();
    });
    function generarArrayPhotos() {
        objectPhoto = {};
        photos = {};
        categoryPhotos = {};
        for (var position = 0; position < '{{totalPhotos}}'; position++) {
            objectPhoto[position] = { name: $('#photo-name-' + position).val() };
        }
        if ('{{photos}}') {
            var photos = '{{photos}}';
            var photos_replaced = photos.replace(/&quot;/g, '"');
            objectPhoto = JSON.parse(photos_replaced);
        }
        if ('{{categoryPhotosJSON}}') {
            var ctgPhotos = '{{categoryPhotosJSON}}';
            var ctgPhotosReplaced = ctgPhotos.replace(/&quot;/g, '"');
            categoryPhotos = JSON.parse(ctgPhotosReplaced);
        }
        console.log(objectPhoto);
        console.log(categoryPhotos)
    }

    var numMaxImg = 0;
    function activa() {
        console.log(deleted.value);
        document.getElementById("deleted").innerHTML = "Deleted ok";
        document.getElementById("deleted").value = 1;
        console.log(deleted.value);
    }

    function imgDelete(position) {
        //ara no aniria bé el edit
        $('#photoToDelete').append('<option value="' + position + '"selected>Foo</option>');
        document.getElementById('photo-box-' + position).style.display = 'none';
        objectPhoto[position]["deleted"] = 1;
    }
    function newSelect(position) {
        var name_selector = $("select[name='photo-select-" + position + "'] option:selected").val();
        var html = `
        <div id='photo-item-`+ position + `-` + name_selector + `'>
            <label>`+ name_selector + `:</label>
            <input type='text' id='photo-select-`+ position + `-` + name_selector + `' placeholder='` + name_selector + `' name='` + name_selector + `' onblur="photoUpdateArray(` + position + `,'` + name_selector + `',this.value)">
            <button type="button" onClick="deleteSelect(`+ position + `,'` + name_selector + `')">-</button>
        </div>
    `;
        $('#photo-box-' + position).append(html);
        $("select[name='photo-select-" + position + "'] option:selected").remove();

    }
    function deleteSelect(position, item) {
        $("select[name='photo-select-" + position + "'").append(`<option value="` + item + `">` + item + `</option>`);
        $('#photo-item-' + position + '-' + item).attr("style", "display:none");
        delete objectPhoto[position][item];
        console.log(objectPhoto);
    }
    function photoUpdateArray(position, item, contenido) {
        objectPhoto[position][item] = contenido;
    }
    function save() {
        console.log(objectPhoto);
        console.log(JSON.stringify(objectPhoto));

        $.ajax({
            url: "{{path('app_backend_product_apisave')}}",
            data: new FormData($('#formProduct')[0]),// the formData function is available in almost all new browsers.
            type: "post",
            contentType: false,
            processData: false,
            cache: false,
            dataType: "json", // Change this according to your response from the server.
            error: function (err) {
                console.error(err.responseJSON.msg);
            },
            success: function (data) {
                idProduct = data.idProduct
                if (Object.keys(objectPhoto).length != 0) {
                    if (idProduct) {
                        $.ajax({
                            url: "{{path('app_backend_product_apiupdate')}}",
                            data: {
                                'idProduct': idProduct,
                                'array': JSON.stringify(objectPhoto),
                            },
                            type: "post",
                            dataType: "json", // Change this according to your response from the server.
                            error: function (err) {
                                alert(err.responseJSON.msg);
                            },
                            success: function (data) {
                                alert(data.msg);
                            },
                            complete: function () {
                                console.log("Request finished.");
                            }
                        });
                    }
                }
                var pagActual = window.location.pathname;
                var url = '{{ path("app_backend_product_edit", {'idProduct': "idProduct"}) }}';
                url = url.replace("idProduct", idProduct);

                if (pagActual != url) {
                    window.location.assign(url);
                }

            }
        });


    }


    function readSrc(event) {

        if (window.File && window.FileList && window.FileReader) {
            var html;
            var e = event || window.event;
            var files = event.target.files;
            var countPhotos = $('.img-product').length;
            if (countPhotos != 0) {
                numMaxImg = countPhotos;
            }
            if (Object.keys(objectPhoto).length == 0) {
                for (var a = 0; a < files.length; a++) {
                    objectPhoto[a] = {};
                }
            } else {
                for (var a = numMaxImg; a < (parseInt(numMaxImg) + parseInt(files.length)); a++) {
                    objectPhoto[a] = {};
                }
            }

            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                //Only pics
                if (!file.type.match('image')) continue;
                var picReader = new FileReader();
                picReader.addEventListener("load", function (event) {
                    var picFile = event.target;
                    html = `
                        <div style="width:250px;height:200px;" id="photo-box-`+ numMaxImg + `">
                            <img id="img-`+ numMaxImg + `" src=" ` + event.target.result + ` " width="200px" class="img-product">  
                            <br/>
                            <button type="button" onClick="imgDelete('`+ numMaxImg + `')">Delete</button>
                            <input type="button" class="reset" onclick="selectImg('`+ event.target.result + `', '` + numMaxImg + `')" value="Edit">
                            `;
                    var keys = Object.keys(categoryPhotos);
                    if (keys.length) {
                        html += `<select name="photo-select-`+ numMaxImg + `">`;
                        for (key in keys) {
                            if (categoryPhotos[key]['visible'] == 0) {
                                html += `<option value="` + categoryPhotos[key]['name'] + `">` + categoryPhotos[key]['name'] + `</option>`;
                            }
                        }
                        html += `</select><input type="button" onClick="newSelect('`+ numMaxImg + `');" value="+">`;
                    }
                    html += `<br/><br/>`;
                    for (key in keys) {
                        if (categoryPhotos[key]['visible'] == 1) {
                            html += `<div id='photo-item-` + numMaxImg + `-` + categoryPhotos[key]['name'] + `'>
                                        <label>`+ categoryPhotos[key]['name'] + `:</label>
                                        <input type='text' id='photo-select-`+ numMaxImg + `-` + categoryPhotos[key]['name'] + `' placeholder='` + categoryPhotos[key]['name'] + `' name='` + categoryPhotos[key]['name'] + `' value='' onblur="photoUpdateArray('` + numMaxImg + `','` + categoryPhotos[key]['name'] + `',this.value)">
                                        <button type="button" onClick="deleteSelect(`+ numMaxImg + `,'` + categoryPhotos[key]['name'] + `')">-</button>
                                        `;
                        }
                    }
                    html += `<br/></div>`;

                    document.getElementById("preLoadPhoto").innerHTML += html;
                    photoUpdateArray(numMaxImg, 'base64', event.target.result);
                    photoUpdateArray(numMaxImg, 'new', 1);
                    numMaxImg++;
                });
                //Read the image
                picReader.readAsDataURL(file);
            }
        }
    }

    function selectImg(src, position) {
        posicion = position;
        $('#editar-imagen').croppie('bind', {
            url: src
        });
    }

    $('#editar-imagen').croppie({
        viewport: { width: 300, height: 200 },
        boundary: { width: 450, height: 280 },
        showZoomer: true,
        enableOrientation: true,
        customClass: 'crope'
    });

    // Rotate btn
    function eventoRotateLeft() {
        $('#editar-imagen').croppie('rotate', 90);
    }
    function eventoRotateRight() {
        $('#editar-imagen').croppie('rotate', -90);
    }

    function eventoResult() {
        $('#editar-imagen').croppie('result', {
            type: 'canvas'
        }).then(function (resp) {
            $("#img-" + posicion).attr("src", resp);
            objectPhoto[posicion]['base64'] = resp;
        }
        );

        console.log(objectPhoto);
    }

    $("#reset").click(function () {
        $("#editar-imagen").html("");
        $uploadCrop = null;

        $uploadCrop = $('#editar-imagen').croppie({
            viewport: { width: 300, height: 200 },
            boundary: { width: 450, height: 280 },
            showZoomer: true,
            enableOrientation: true,
            customClass: 'crope'
        });
    });


</script>
{% endblock %}
{% block stylesheets %}
<script src="{{ asset('/assets/croppie/croppie.js') }}"></script>
<link type="text/css" rel="stylesheet" href="{{ asset('/assets/croppie/croppie.css') }}">
{% endblock %}