{% extends "layout/base.html.twig"%}

{% block body %}
<form id="formProduct">
    <label>
        Min Price:<br>
        <input type="number" name="filtreMinPrice" placeholder="Mininum Price" value="{{filtreMinPrice}}">
    </label>
    <br/>
    <label>
        Max Price:<br>
        <input type="number" name="filtreMaxPrice" placeholder="Maximum Price" value="{{filtreMaxPrice}}">
    </label>
    <br/>
    <label>
        Category:<br>
        <select name="category[]" class="campo-form" multiple>
        {% for item in category %}
            <option value="{{item.idCategory}}">{{item.name}}</option>
        {% endfor %}
        </select>
    </label>
    <br/>
    <button type="button" onClick="buscar();">Buscar</button>
</form>
{# {{dump(product)}} #}
<input type="button" value="es" onclick="window.location.href='{{ path('app_backend_product_gestion', {localeProduct:"es"} ) }}'" >
<input type="button" value="en" onclick="window.location.href='{{ path('app_backend_product_gestion', {localeProduct:"en"} ) }}'">
<br/>
<br/>

<button type="button" onClick="addProduct()">Add product</button>
<br/>
<br/>
<div style="float:left;">
    <table border="1">
        <tr>
            <td></td>
            <td {% if pagination.isSorted('product.idProduct') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'idProduct', '[idProduct]') }}</td>
            <td {% if pagination.isSorted('product.price') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'price', '[price]') }} </td> 
            <td>{{ knp_pagination_sortable(pagination, 'stock', '[stock]') }} </td>
            <td>{{ knp_pagination_sortable(pagination, 'Deleted', '[deleted]') }}</td>
            <td>{{ knp_pagination_sortable(pagination, 'Visible', '[visible]') }}</td>
            <td>locale</td>
            <td>{{ knp_pagination_sortable(pagination, 'category', '[category]') }}</td>
        </tr>    
    
        {# abans pagination -> product#}
        {% for product in pagination %}
        <tr>
                <td><a href="{{ path('app_backend_product_edit', {idProduct: product.idProduct, localeProduct:product.locale} ) }}">edit</a></td>
                <td>{{ product.idProduct }}</td>
                <td>{{ product.price }}</td> 
                <td>{{ product.stock }}</td>
                <td>{{ product.deleted}}</td>
                <td>{{ product.visible}}</td>
                <td>{{ product.locale}}</td>
                <td>
                    {% for category in product.category %}
                        {{ category.name }} ,

                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
<div>

{% endblock %}
{% block javascripts %}
<script>
function buscar(){
    //console.log(new FormData($('#formProduct')[0]));
    var formData = new FormData($('#formProduct')[0]);
    var str = '?';
    for(var pair of formData.entries()) {
        if(pair[1]){
            str += pair[0]+'='+pair[1]+'&';
        }
    }
    var temp = str.substr(0, str.length -1);    // matxaca darrer '&'
    var url = "{{path('app_backend_product_gestion')}}" + temp;
    window.location.assign(url);
}

function addProduct(){
    var url = "{{path('app_backend_product_edit')}}";
    window.location.assign(url);
}
</script>
{% endblock %}


